.character {
	margin: 0.8em 0;
	background: ghostwhite;
}

body {
	font-family: 'Lato', sans-serif;
}


/* #FFC107 #000000 #333333*/

#navHeader {
	padding-left: 0;
	padding-right: 0;
}

.logo {
	height: auto;
	width: 70%;
}

.input-group {
	margin-right: 5px;
}

.btnStyle {
	background-color: #333333;
	color: white;
}

.spaceDown {
	margin-bottom: 10px;
}

.btnStyle:hover {
	background-color: black;
	color: white;
}

.btnStyle:hover {
	background-color: black;
	color: white;
}

.main {
    width: 100%;
	margin-top: 7.6vh;
	background-size: cover;
	background-position: center center;
}

.img {
	width: 50%;
}

.btn-sm {
	padding: 7px 6px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.main1 {
    width: 100%;
	background-size: cover;
	background-position: center center;
	margin-bottom: 30vh;
	box-sizing: border-box;
}

/* zona flex---------------------------------*/

.vh100 {
	height: 100vh;
}

.flex {
	display: flex;
}

.flex-around {
	display: flex;
	justify-content: space-around;
}

.flex-padre {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.flex-item {
	display: flex;
    background-color: black;
    color: white;
    border-radius: 10px;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}
.flex-item img {
    border-radius: 10px 0px 0px 10px;
}
.block-info {
    float: left;
    background-color: black;
}
.flex-item a {
    color: white;
}
.conteiner-buttons {
    width: 100%;
}
.container-buttons button{
 /* 25% */
    padding: 5px;
}
#btnAmigo, #btnBloqueo, #btnMentors {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}
#btnAmigo {
    background-color: white;
    color: black;
}
#btnBloqueo {
    background-color: #FFC107;
    padding: 3px;
}
#btnMentors {
    background-color: #FFC107;
    padding: 3px;
}
/*-----------------fotter------------------------*/

.page-footer {
	background-color: black;
	color: white;
	height: auto;
	padding-top: 5vh;
	width: 100%;
}
.prove {
	position: fixed;
	bottom: 0;
}
@media (min-width: 1280px) {
    .main {
        margin-top: 8.7vh;
    }
    .main1 {
		margin-left: 0%;
		margin-bottom: 30vh;
    }
	.btn-sm {
		width: 50%;
		height: 50px;
		font-size: 20px;
	}
	.img {
		width: 100%;
	}
	.flex-item {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		align-items: center;
		width: 600px;
	}
	.flex-around {
		display: flex;
		width: 50%;
	}
    .container-buttons {
        margin-top: 10px;
        margin-left: 50vh;
    }
    .container-buttons button {
        padding: 10px;
	}
	/*-----------------footer----------*/
	 .page-footer img {
	 	margin-bottom: 5vh;
	 }
	

}