body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}


/* #FFC107 #000000 #333333*/

.flex-splash {
    flex-direction: row;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.between {
    justify-content: space-between;
}
/* style generales*/
.vh100 {
    height: 100vh;
}

.vh45 {
    width: 45vh;
}
.flex {
    display: flex;
}
/*ventana signUp*/
.signUp {
    background-image: url('../assets/images/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
}

.flex-item {
    outline: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
}
/*ventana signup1*/

.btnSignIn {
   align-items: flex-end;
}
@media (min-width: 1280px) {
    .vh45 {
        width: 100vh;
    }
}