<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SocialLab</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mainfriend.css">
</head>

<body >
    <!-- header -->
    <header>
        <div class="container" id="navHeader">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">
                        <img src="../assets/images/logoLab.png" alt="LogoLab" class="logo">
                    </a>
                </div>
                <!-- Collection of nav links, forms, and other content for toggling -->
                <div id="navbarCollapse" id="navHeader" class="collapse navbar-collapse">
                    <form class="navbar-form navbar-right">
                        <div class="input-group">
                            <input type="text" class="form-control spaceDown" placeholder="Search more friends">
                            <span class="input-group-btn">
                                <a href="" class="btn btn-default spaceDown" id="inicio">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                            </span>
                        </div>
                        <a href="../index.html" class="btn btnStyle">Cerrar Sesión</a>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <section class="main ">
        <div class="container-fluid large">
            <!-- Botones para mostrar amigos - mentores - conocidos -seguidores -->
            <div class="row flex center-block container-buttons">
                <div class="col-md-2">
                    <button type="button" class="btn btn-lg btn-warning btn-followems">Siguiendo</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-lg btn-warning btn-mentors">Mentores</button>
                </div>
                <!-- Botón para mostrar las personas que quizas conocemos , mentores amigos ,etc -->
                <div class="col-md-2">
                    <button type="button" class="btn btn-lg btn-warning btn-knowPeople">Conocidos</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-lg btn-warning btn-inicio">Inicio</button>
                </div>
            </div>

            <!-- div vacío donde irán las personas conocidas -->
            <div class="know flex-padre"></div>

            <!-- div vacío donde irán las personas que nos siguen -->
            <div class="followems flex-padre"></div>

            <!-- div vacío donde irán los mentores -->
            <div class="mentors flex-padre"></div>

            <!-- div vacío donde irán todas los personas que quizas conocemos -->
            <div class="knowPeople flex-padre "></div>
        </div>
    </section>
    <section class="main1">
        <div class="container ">
            <div class="row flex-padre vh100">
                <div class="flex-around">
                    <div class="flex-item">
                        <div>
                            <picture>
                                <img src="../assets/images/followems/analucia.jpg" alt="">
                            </picture>
                        </div>
                        <div>
                            <h3>nombre</h3>
                            <p>
                                <a href="">user@email.com</a>
                            </p>
                            <button id="btnAmigo">agregar</button>
                            <button id="btnBloqueo">bloquear</button>
                        </div>
                    </div>
                </div>
                <div class="flex-around">
                    <div class="flex-item">
                        <div>
                            <picture>
                                <img src="../assets/images/followems/analucia.jpg" alt="">
                            </picture>
                        </div>
                        <div>
                            <h3>nombre</h3>
                            <p>
                                <a href="">user@email.com</a>
                            </p>
                            <button id="btnAmigo">agregar</button>
                            <button id="btnBloqueo">bloquear</button>
                        </div>
                    </div>
                </div>
                <div class="flex-around">
                    <div class="flex-item">
                        <div>
                            <picture>
                                <img src="../assets/images/followems/analucia.jpg" alt="">
                            </picture>
                        </div>
                        <div>
                            <h3>nombre</h3>
                            <p>
                                <a href="">user@email.com</a>
                            </p>
                            <button id="btnAmigo">agregar</button>
                            <button id="btnBloqueo">bloquear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <footer>
    </footer>
        <!------foooteeer-------->
    <script src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/datafriend.js"></script>
    <script src="../js/friends.js"></script>
</body>

</html>