<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/mainfriend.css">
</head>

<body class=" vh100">
    <!-- header -->
    <header>
        <div class="container" id="navHeader">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">
                        <img src="../assets/images/logoLab.png" alt="LogoLab" class="logo">
                    </a>
                </div>
                <!-- Collection of nav links, forms, and other content for toggling -->
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <form class="navbar-form navbar-right">
                        <div class="input-group">
                            <input type="text" class="form-control spaceDown" placeholder="Search more friends">
                            <span class="input-group-btn">
                                <a href="" class="btn btn-default spaceDown" id="inicio">
                                    <span class="glyphicon glyphicon-search"></span>
                                </a>
                            </span>
                        </div>
                        <a href="../index.html" class="btn btnStyle">Cerrar Sesión</a>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <section>
        <div class="container">

            <!-- Botones para mostrar personajes de cada serie -->
            <div class="row">
                <div class="col-md-2">
                    <button type="button" class="btn btn-md btn-warning btn-gossip">Gossip Girl</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-md btn-warning btn-breaking">Breaking Bad</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-md btn-warning btn-how">How to get away...</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-md btn-warning btn-stranger">Stranger Things</button>
                </div>
                <!-- Botón para mostrar los personajes de todas las series -->
                <div class="col-md-2">
                    <button type="button" class="btn btn-md btn-warning btn-all">All</button>
                </div>
            </div>

            <!-- div vacío donde irán los personajes de gossip girl desde jquery + data -->
            <div class="gossip"></div>

            <!-- div vacío donde irán los personajes de breaking bad desde jquery + data -->
            <div class="breaking"></div>

            <!-- div vacío donde irán los personajes de how to get away with murder desde jquery + data -->
            <div class="how"></div>

            <!-- div vacío donde irán todos los personajes de stranger things desde jquery + data -->
            <div class="stranger"></div>

            <!-- div vacío donde irán todos los personajes desde jquery + data -->
            <div class="all"></div>
        </div>
    </section>
    <footer>
        <div>
            hola soy fotter
        </div>
    </footer>

    <script src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/datafriend.js"></script>
    <script src="../js/friends.js"></script>
</body>

</html>