<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/splash.css">
</head>

<body class="vh100 flex-item">
    <!-- header -->
    <div class="container" id="navHeader">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a href="#" class="navbar-brand">
                    <img src="../assets/images/logoLab.png" alt="LogoLab" class="logo">
                </a>
            </div>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                
            </div>
        </nav>
    </div>
    <main class="container-fluid">
        <div class="row vh45">
        <div class="login">
            <h1 class="text-center">Iniciar Sesión</h1>
        </div>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail" placeholder="Correo electronico">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Contraseña">
                </div>
            </div>

            <div class="form-group vh45">
                <div class="col-sm-offset-2 col-sm-10">
                    <a href="" class="btn btn-default disabled" id="btnSignIn">Sign in</a>
                </div>
            </div>
        </form>
        </div>
        <div class="flex between">
            <a href="" class="forgotPass">¿Olvido su Contraseña?</a>
            <p class="account">¿No tienes una cuenta?
                <a href="signup1.html">¡Regístrate!</a>
            </p>
        </div>

    </main>
    <script src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/app2.js"></script>
</body>

</html>