<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SocialLab</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/splash.css">
</head>

<body class="flex-item vh100">
    <!-- header -->
    <div class="container" id="navHeader">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">
                    <img src="../assets/images/logoLab.png" alt="LogoLab" class="logo">
                </a>
            </div>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
            </div>
        </nav>
    </div>
    <section class="container-fluid">
        <div class="row vh45">
            <div class="login">
                <h1 class="text-center">Registrate</h1>
                <hr class="line">
            </div>
            <form class="form-horizontal" role="form">
                <div class="form-group ">
                    <label for="inputName" class="control-label">Nombre y Apellido</label>
                    <div class="col-sm-12 col-sx-12">
                        <input type="text" class="form-control" id="inputext" placeholder="Ingresa nombre y apellido">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="control-label">Email</label>
                    <div class="col-sm-12 col-sx-12">
                        <input type="email" class="form-control" autocomplete="off" id="inputEmail3" placeholder="Correo Electrónico">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="control-label">Contraseña</label>
                    <div class="col-sm-12 col-sx-12">
                        <input type="password" class="form-control" maxlength="10" id="inputPassword3" placeholder="Contraseña">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="control-label">Confirmar Contraseña</label>
                    <div class="col-sm-12 col-sx-12">
                        <input type="password" class="form-control" maxlength="10" id="inputPassword3" placeholder="Confirmar Contraseña">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 btnSignIn flex-item">
                        <a class="btn btnStyle vh45" id="btnSignIn">Registrate</a>
                        <p class="text-center">¿Ya tienes una cuenta?
                            <a href="login.html">¡Ingresa!</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!------foooteeer-------->
    <footer class="container-fluid page-footer1">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-6 ">
                    <span class="col-md-12">
                        <img class="col-md-6 col-md-offset-4 col-xs-9 col-xs-offset-0" src="../assets/images/logoLab.png" alt="logo">
                    </span>
                </div>
                <br>
                <div class="col-md-6">
                    <div class="col-xs-12  col-md-6 pull-right">

                        <p class="footer-copyright">
                            © 2018 SocialLab technologies Inc.
                        </p>
                        <p>Soporte Tecníco</p>
                        <p>Pagina Principal</p>
                        <p>Blog</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/signup1.js"></script>
</body>

</html>