<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SocialLab</title>
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/splash.css">
</head>

<body class="flex-item vh100">
    <!-- header -->
    <div class="container" id="navHeader">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">
                    <img src="../assets/images/logoLab.png" alt="LogoLab" class="logo">
                </a>
            </div>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <form class="navbar-form navbar-right">
                    <div class="input-group">
                        <input type="text" class="form-control spaceDown" placeholder="Search more friends">
                        <span class="input-group-btn spaceDown">
                            <a href="" class="btn btn-default spaceDown" id="inicio">
                                <span class="glyphicon glyphicon-search"></span>
                            </a>
                        </span>
                    </div>
                    <a href="../index.html" class="btn btnStyle ">Cerrar Sesión</a>
                </form>
            </div>
        </nav>
    </div>
    <section class="container-fluid">
        <div class="row vh45">
            <div class="login">
                <h1 class="text-center">Registrate</h1>
                <hr class="line">
            </div>
            <form class="form-horizontal" role="form">
                <div class="form-group ">
                    <label for="inputName" class="control-label">Nombre y Apellido</label>
                    <div class="col-sm-12 col-sx-12">
                        <input type="text" class="form-control" id="inputext" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="control-label">Email</label>
                    <div class="col-sm-12 col-sx-12">
                        <input type="email" class="form-control"autocomplete="off" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="control-label">Password</label>
                    <div class="col-sm-12 col-sx-12">
                        <input type="password" class="form-control" maxlength="10" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="control-label">Confirm Password</label>
                    <div class="col-sm-12 col-sx-12">

                        <input type="password" class="form-control"maxlength="10"  id="inputPassword3" placeholder="confirmar Password">
                   </div>
                </div>
               <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 btnSignIn flex-item">
                        <a class="btn btnStyle vh45" id="btnSignIn">Sign in</a>
                        <p class="text-center">¿Ya tienes una cuenta?
                            <a href="login.html">Login</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <script src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/app2.js"></script>
</body>

</html>