<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <title>Social Lab</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div class="container">
        <section class="row aside">
            <div class="col-md-4">
                <img src="../assets/images/iconUser.png" class="logo" alt="" srcset="">
                <h4 class="username">Sammy Cordova Coder</h4>
            </div>
        </section>
        <section class="row main">
            <h1>Mi perfil</h1>
            <input type="text" class="form-control" placeholder="Nombre de usuario">
            <input type="text" class="form-control" placeholder="Correo Electronico">
            <input type="password" class="form-control" placeholder="Contraseña">
            <input type="password" class="form-control" placeholder="Contraseña nueva">
            <input type="password" class="form-control" placeholder="Confirmar contraseña">
            <button class="btn">Guardar cambios</button>
        </section>
    </div>
    <!--scripts -->
    <script src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/app.js"></script>
</body>
</html>